<!DOCTYPE html> 
<html>

  <head>
    <title> Login </title>
  </head>

  <body>
    <h1> Welcome to the Login Page!</h1>
    <p> If this works, I believe that I will convert to something. </p>
    {{ status }} 
    <form method="POST" action="/login">
      Username: <input type="text" name="username" value="" placeholder="Username"> <br>
      Password: <input type="password" name="password" value="" placeholder="Password"> <br>
      <input type="submit" name="action" value="Login">
      <input type="submit" name="action" value="Register">
    </form>
  </body>

</html>
